.container{
    display: flex;
    padding: 1%;
    height: 100%;
  background-color: #D3D3D3;
    
}

.detailcontainer{
    background-color: #D3D3E7;
    flex: 1;
    padding: 20px;
}
.boxImg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 8px;
}
.title {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #007bff;
    font-size: 24px;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
  }
  
  img {
    max-width: 100%;
    background-color: #f5f5f5; /* Color de fondo de la imagen */
    border-radius: 8px;
  }
  
  .buttonback {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonback:hover {
    background-color: #0056b3;
  }

  .sellButton,
.barcodeButton {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.sellButton:hover,
.barcodeButton:hover {
  background-color: #218838;
}