.card{
    background-color: #bebcbc;
    width: 300px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.01);
    
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }