.filtersContainer {
    display: flex;
    margin-bottom: 20px;
   margin-top: 10px;
  }
  
  .filterItem {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin: 0 10px;
    padding: 1px 30px;
    background-color: #c5763d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ee9250;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
  }